<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <title>SnapLink</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container text-center mt-5">
      <h1>Welcome to SnapLink, A Short URL Service</h1>
      <% if (user) { %>
      <p class="mt-3">Welcome, <%= user.username %>!</p>
      <form
        class="mt-4"
        action="/api/v1/urls/shorten"
        method="post"
        id="shortenForm"
      >
        <div class="form-group">
          <label for="OriginalUrl">Enter URL to shorten:</label>
          <input
            type="url"
            class="form-control"
            id="OriginalUrl"
            name="OriginalUrl"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
      </form>
      <% } else { %>
      <p class="mt-3">Sign up or log in to start shortening URLs.</p>
      <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $('#shortenForm').submit(function (event) {
          event.preventDefault();

          var formData = {
            OriginalUrl: $('#OriginalUrl').val(),
          };

          $.ajax({
            type: 'POST',
            url: '/api/v1/urls/shorten',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
              displayShortenedUrl(response.data.shortUrl, formData.OriginalUrl);
            },
            error: function (xhr, status, error) {
              console.error('Error:', error);
              alert('Failed to shorten URL. Please try again.');
            },
          });
        });

        function displayShortenedUrl(shortUrl, originalUrl) {
          // Create and display a popup modal
          var modal = `
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Shortened URL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Your original URL:</p>
                    <p>${originalUrl}</p>
                    <p>Shortened URL:</p>
                    <p><a href="${shortUrl}" target="_blank">${shortUrl}</a></p>
                  </div>
                </div>
              </div>
            </div>
          `;

          $('body').append(modal); // Append modal to the body
          $('#myModal').modal('show'); // Show modal
        }
      });
    </script>
    <%- include('partials/footer') %>
  </body>
</html>
